.InfoBox{
    text-align: center;
}

.cardBox{
 display: flex;
 justify-content: center;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    height: 12px;
}